#testititle {
    width: 100%;
    height: auto;
    color: white;
}

#testititle .title {
    width: 150vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#testititle .title h1 {
    font-size: 10vw;
    font-family: var(--head-font);
}