.name-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: black;
    font-family: var(--head-font);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    transition: all 1s;
}

.name-menu #name {
    font-size: 1rem;
}


.name-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
}

.hamburgermenu {
    width: 20px;
    height: 20px;
}




.navbar {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100%;
    z-index: 90;
    transition: all 0.5s;
    opacity: 1;
    height: 0;
    overflow: hidden;
    background-color: black;
}


.active {
    height: 20vh;
    opacity: 1;
}

.navbar #name {
    padding: 0.5rem;
    font-family: var(--head-font);
    color: white;
}

.navbar #list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding-left: 2rem;
    flex-direction: column;
    justify-content: space-around;
}

.navbar #list .items a {
    text-decoration: none;
    color: white;
    font-family: var(--other-font);
    letter-spacing: 5px;
    transition: 0.4s;
    font-size: 1rem;
    font-weight: 600;
}

.navbar #list .items a:hover {
    color: yellow;
}