:root {
  --other-font: 'Comfortaa', sans-serif;
  --head-font: 'Fjalla One', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body{
  /* background-color: #001220; */
  background-color: black;
}
